.sidebar-button {
  background-color: #d9ffe0;
  border: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

.sidebar-button:hover {
  background-color: #b2e2b2;
}

.check-button {
  background-color: #1aa34a;
  color: white;
}
